Click==7.0
Flask==1.0.2
Flask-Cors==3.0.6
Flask-SQLAlchemy==2.3.2
Flask-SocketIO==3.0.2
ItsDangerous==1.0.0
Jinja2==2.10
MarkupSafe==1.0
SQLAlchemy==1.2.12
SQLAlchemy-Utils==0.33.6
Werkzeug==0.14.1
dnspython==1.15.0
eventlet==0.24.1
greenlet==0.4.15
gunicorn==19.9.0
monotonic==1.5
python-engineio==2.3.2
python-socketio==2.0.0
six==1.11.0
